<html>
    <head><h1>Epidemic Eagle</h1></head>
    <body>
        <form name='Quicksearch' action='/quicksearch' method='get'>

            <h4>Quicksearch</h4>
            <input type='text' name='start_date' placeholder='start_date'/><br/>
            <input type='text' name='end_date' placeholder='end_date'/><br/>
            <input type='text' name='key_terms' placeholder='key_terms'/><br/>
            <input type='text' name='location' placeholder='location'/><br/>
            <input type='submit' value='QuickSearch'/>
        </form>

        <form name='Search' action='/search' method='get'>
            <h4>Search</h4>
            <input type='text' name='start_date' placeholder='start_date'/><br/>
            <input type='text' name='end_date' placeholder='end_date'/><br/>
            <input type='text' name='key_terms' placeholder='key_terms'/><br/>
            <input type='text' name='location' placeholder='location'/><br/>
            <input type='submit' value='Search'/>
        </form>

        <form name='articles' action='/articles' method='get'>
            <h4>Articles</h4>
            <input type='text' name='start_date' placeholder='start_date'/><br/>
            <input type='text' name='end_date' placeholder='end_date'/><br/>
            <input type='text' name='key_terms' placeholder='key_terms'/><br/>
            <input type='text' name='location' placeholder='location'/><br/>
            <input type='submit' value='Get Articles'/>
        </form>

        <form name='reports' action='/reports' method='get'>
            <h4>Reports</h4>
            <input type='text' name='start_date' placeholder='start_date'/><br/>
            <input type='text' name='end_date' placeholder='end_date'/><br/>
            <input type='text' name='key_terms' placeholder='key_terms'/><br/>
            <input type='text' name='location' placeholder='location'/><br/>
            <input type='submit' value='Get Reports'/>
        </form>
    </body>
</html>
