<html>
    <head>
        <title>Item Details</title>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <h3><a href='/'>Back to main page</a></h3>
        </div>
        <h1>Search for results for quicksearch</h1>
        <input id="countryInput" type="text" name="location" placeholder="Country" value={{location}}>
        <input id="diseaseInput" type="text" name="disease" placeholder="Disease" value={{disease}}>
        <input type="datetime-local" id="start_date" name="start_date"
           min="2000-01-01" max="2024-12-31" value={{start_date}}>
        <input type="datetime-local" id="end_date" name="end_date"
           min="2000-01-01" max="2024-12-31" value={{end_date}}>
        <input type="text" name="key_terms" value={{key_terms}}>
        <table>
            <thead>
                <th>Headline</th>
                <th>Date of publication</th>
                <th>Article id</th>
                <th>url</th>
            </thead>
            <tbody>
                
                {% for qs in searches %}
                    <tr>
                        <td> {{ qs.headline }} </td>
                        <td> {{ qs.dateOfPublication }} </td>
                        <td> {{ qs.articleId }} </td>
                        <td> {{ qs.url }} </td>
                    </tr>
                {% endfor %}
                
                <!-- potential sample data for demonstration 
                <tr>
                    <td>Covid in Sydney</td>
                    <td>10/4/2020</td>
                    <td>1</td>
                    <td>www.smh.com</td>
                </tr>
                <tr>
                    <td>Covid runs rampant</td>
                    <td>20/4/2020</td>
                    <td>2</td>
                    <td>www.smh.com</td>
                </tr>
            
                <div>
                    <h3><a href='/search'>go to search</a></h3>
                </div>
                -->
            </tbody>
        </table>
        <div>
            <h3><a href='/search'>go to search</a></h3>
        </div>
    </body>
</html>